doctype html
html(lang="en")
  head
    title= "Index page"
  body
    h1.h4.caps Wallball
    h2 Wallball is a series of tosses that aims to help players, over time, acquire better stick skills by performing a mix of practical and semi-practical tosses against a wall at speed.
    
    
    div.outline.blue
      h3.caps Rules &amp; Guidelines
      ol
        li Complete the routine as quickly as possible.
        li Players will compete 10 reps of each step of the routine.
        li If you drop the ball at any time, start that specific step of the routine over again. (Do not start at the beginning, unless you're up for the challenge!)
        
    div
      h2.h00-responive The Routine
      ol
        li Right-handed
        li Left-handed
        li Quick stick, right-handed
        li Quick stick, left-handed
        li One-handed, right-handed
        li One-handed, left-handed
        li Throw and catch opposite.
        li Cross over, right-handed
        li Cross over, left-handed
        li Behind the back, right-handed
        li Behind the back, left-handed
